body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

body .navbar {
    background: linear-gradient(to bottom, #242424, #000000) !important;
    width: 15vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar {
    background: linear-gradient(to bottom, #242424, #000000);
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.navbar-title {
    font-size: min(3vw, 6vh);
    font-weight: bold;
    color: white;
    margin-top: 10vh;
    text-align: center;
}

.navbar-logo {
    width: 100%;
    text-align: center;
}

.navbar-logo img {
    width: min(11vw,22vh);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 15vh;
}

.navbar li {
    width: 100%;
    text-align: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: left;
    padding: 1vh 1vh;
    text-decoration: none;
    font-size: min(1.3vw, 2.5vh);
    padding-top: 1.9vh;
    padding-bottom: 1.9vh;
}

.navbar li a:hover,
.navbar li a.active {
    background-color: #282828;
}

.main-content {
    flex-grow: 1;
    height: 100vh;
    overflow: auto;
    text-align: center;
}

#root {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
