.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
    box-sizing: border-box;
}

.about-content {
    margin-top: 15vw;
    text-align: left;
    color: white;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 25vw;
    width: 76vw;
}

.about-content h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.about-content h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.about-content h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-style: italic;
}

.about-content p {
    margin-right: 10vw;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.profile-pictures {
    margin-right: 20vw;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.profile-pictures img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
