.about-content {
    display: block;
    text-align: left;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-left: 25vw;
    padding-right: 15vw;
    width: 100vw;
    overflow-x: hidden;
}

.about-content h1 {
    margin-top: 5vw;
    font-size: 4vw;
    margin-bottom: 0.75vw;
}

.about-content h2 {
    font-size: 2.75vw;
    margin-bottom: 0.75vw;
}

.about-content h3 {
    font-size: 2vw;
    margin-bottom: 0.75vw;
    font-style: italic;
}

.about-content p {
    font-size: 1vw;
    line-height: 1.5;
    margin-bottom: 2vw;
}

.profile-pictures {
    display: flex;
    justify-content: center;
    gap: 2vw;
    padding-bottom: 10vw;
    flex-wrap: wrap;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile img {
    width: 10vw;
    border-radius: 50%;
    object-fit: cover;
}

.profile p {
    margin-top: 0.5vw;
    font-size: 1vw;
    font-weight: bold;
    color: white;
}