html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

body {
    font-family: Arial, sans-serif;
    color: white;
}

#home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.home-content {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 20vw;
    width: 81vw;
}

.heading {
    font-size: 1.75vw;
    text-align: left;
}

.playlist-content {
    text-align: center;
    color: white;
    box-shadow: none; /* Remove box shadow */
    width: 100%;
}

.profile-content {
    margin-top: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 0.15vw solid #8d8d8d;
    width: 92%;
    padding-bottom: 1.75vw;
    margin-bottom: 1.75vw;
}

.profile-details-left {
    display: flex;
    flex-direction: column;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 10vw; /* Container width */
    height: 10vw; /* Container height */
    overflow: hidden; /* Hide overflow */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 2vw;
}

.profile-pic img {
    border-radius: 50%;
    width: 100%; /* Scale the image to fit the container */
    height: 100%; /* Ensure the height scales proportionally */
    object-fit: cover; /* Cover the element while maintaining aspect ratio */
    image-rendering: high-quality; /* For high-quality rendering */
    image-rendering: -webkit-optimize-contrast; /* Optimize contrast for better rendering in WebKit-based browsers */
    image-rendering: crisp-edges; /* Improve image rendering for sharp edges */
    transform: scale(1.1); /* Slightly scale up the image */
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name-username {
    display: flex;
    align-items: baseline;
}

.profile-name {
    font-size: 1.75vw;
    font-weight: bold;
    margin-right: 1vw;
}

.profile-counters {
    font-size: 1.1vw;
    margin-top: 0.4vw;
}

.bio-section {
    margin-top: 0.75vw;
}

.bio-textarea {
    width: 50vw; /* Increase the width of the textarea */
    height: 10vh;
    resize: none;
    font-size: 1em;
    flex-grow: 1; /* Allow textarea to grow in the flex container */
}

.char-counter {
    font-size: 0.9em;
    color: grey;
    margin-top: 5px;
    justify-content: left;
}

.edit-bio-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (top) */
}

.bio-text {
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.1vw;
    text-align: left;
    line-height: 0.5; /* Adjust this value to make the distance between lines smaller */
}

.button {
    border-radius: 0.35vw; /* Set a consistent roundness for all buttons */
    font-size: 1vw;
    padding: 0.7vw;
    cursor: pointer;
    border: none;
}

.save-bio-button {
    background-color: #00d76a;
    color: white;
    width: 7vw;
    height: 3vw;
    align-self: flex-start;
    font-size: 1vw;
}

.save-bio-button:hover {
    background-color: #16a34a;
}

.edit-bio-button {
    width: 10vw;
    height: 3vw;
    align-self: flex-start;
    font-size: 1vw;
}

.edit-bio-button button {
    background-color: #00d76a;
    color: white;
}

.edit-bio-button button:hover {
    background-color: #16a34a;
}

.playlists-container,
.achievements-container {
    width: 100%;
    text-align: center;
}

.playlists-container {
    padding-bottom: 4vh;
    margin-bottom: 1.75vw;
    border-bottom: 0.15vw solid #ccc;
    width: 92%;
}

.playlists {
    padding: 0 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 2vw;
}

.playlist,
.achievement {
    text-align: center;
}

.playlist img {
    border-radius: 0.7vw;
    display: block;
    width: 10vw;
    height: 10vw;
}

.playlist-link {
    color: white;
    text-decoration: underline;
    font-size: 1.1vw;
}

.playlist-link:hover {
    color: #888888;
}

.achievements {
    margin-left: 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 1vw;
}

.achievement {
    margin-top: 1vw;
    background-color: #333;
    color: white;
    padding: 1.5vw;
    border-radius: 1vw;
    width: 18%;
    text-align: center;
}

.achievement-title {
    font-weight: bold;
    font-size: 1.1vw;
    padding-bottom: 0.5vw;
}

.achievement-description {
    font-size: 0.9vw;
}

.logout-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.logout-button .btn {
    background-color: #d9534f;
    border-color: #d43f3a;
    font-size: 1vw;
}

.logout-button .btn:hover {
    background-color: #c9302c;
    border-color: #ac2925;
}