/* src/pages/PlaylistSuccess.css */
.success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
<<<<<<< Updated upstream
    background-color: #2e2e2e;
=======
    background-color: #1a1a1a; /* Match the background color */
>>>>>>> Stashed changes
}

.success-content {
    text-align: center;
    color: white;
<<<<<<< Updated upstream
    background: linear-gradient(to bottom, #434343, #000000);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
=======
    background: #1a1a1a; /* Match the background color */
    padding: 40px;
    border-radius: 10px;
    box-shadow: none; /* Remove box shadow */
    max-width: 600px;
    width: 100%;
    box-sizing: border-box; /* Ensure padding does not affect width */
>>>>>>> Stashed changes
}

.success-icon {
    font-size: 5rem;
    color: #00d76a;
    margin: 20px 0;
}

.success-link {
    background-color: #00d76a;
    color: white;
    font-size: 1.5rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.success-link:hover {
    background-color: #16a34a;
}
