html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(to bottom, black, #333) !important;
    color: white;
}

#playlist-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.playlist-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    text-align: center;
}

.playlist-title {
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: bold;
}

.playlist-subtitle {
    margin-top: 1rem;
    font-size: 1.25rem;
}

.form-group {
    margin: 1rem 0;
}

.length-options button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 2px solid #00d76a;
    border-radius: 9999px;
    color: white;
    background-color: #333;
    cursor: pointer;
}

.length-options .selected {
    background-color: #00d76a;
}

.playlist-button {
    margin-top: 2rem;
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #00d76a;
    border: 2px solid #00d76a;
    border-radius: 9999px;
    color: white;
    cursor: pointer;
}

.playlist-button:hover {
    background-color: #16a34a;
}

.playlist-section-title {
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: semi-bold;
}

.playlist-text {
    margin-top: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    max-width: 800px;
    text-align: center;
}

.playlist {
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
}

.playlist ul {
    list-style: none;
    padding: 0;
}

.playlist li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 0.5rem;
    background-color: #444;
    border-radius: 8px;
}

.playlist img {
    margin-right: 10px;
    border-radius: 8px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
}

.modal-content h3 {
    margin-bottom: 1rem;
}

.modal-content input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
}

.modal-content button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}
