/* src/pages/PlaylistSuccess.css */
.success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
}

.success-content {
    text-align: center;
    color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: none; /* Remove box shadow */
    max-width: 600px;
    width: 100%;
    box-sizing: border-box; /* Ensure padding does not affect width */
    background-color: transparent; /* Ensure background is transparent */
}

.success-icon {
    font-size: 5rem;
    color: #00d76a;
    margin: 20px 0;
}

.success-link {
    background-color: #00d76a;
    color: white;
    font-size: 1.5rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.success-link:hover {
    background-color: #16a34a;
}
