/* src/pages/PlaylistSuccess.css */
.success-content {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding-left: 15vw;
    width: 100vw;
    overflow-x: hidden;
}

.success-content h1 {
    font-size: 3.5vw;
}

.success-content h2 {
    font-size: 8vw;
    color: #00d76a;
    margin: 1.7vw 0;
}

.success-content h3 {
    font-size: 2vw;
    padding-top: 0.75vw;
    padding-bottom: 0.75vw;
}

.button {
    background-color: #00d76a;
    color: white;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
    text-decoration: none;
}

.success-link:hover {
    background-color: #16a34a;
}
