.vault-container {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Hide any overflow to prevent scrollbars */
    display: flex;
    justify-content: center;
    align-items: center;
}

.vault-door-outer {
    position: relative;
    width: 100vw; /* Increase the width to take up more of the page */
    height: 100vw; /* Increase the height to take up more of the page */
    max-width: 50%; /* Ensure the vault does not get too large */
    max-height: 100%; /* Ensure the vault does not get too large */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease;
    margin-left: 10%;
}

/* Adjust the viewhole to take up the entire parent container */
.vault-viewhole {
    position: absolute;
    width: 65%; /* Make the viewhole take up full width */
    height: 65%; /* Make the viewhole take up full height */
    border-radius: 50%; /* Makes it a circle */
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    transition: transform 0.15s ease;
    z-index: 2; /* Ensures the viewhole is behind the inner door */
}

.vault-door-inner {
    position: absolute; /* Changed from relative to absolute */
    width: 85%; /* Adjust the size of the inner door */
    height: 85%;
    background: linear-gradient(to bottom, #676767, #4c4c4c) !important;
    border-radius: 25%;
    transform-origin: left center;
    transition: transform 0.5s ease;
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.5);
    z-index: 2; /* Ensures the inner door is above the viewhole */
}

.vault-door-lock-wrapper {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vault-door-lock {
    background: rgb(107, 107, 107);
}

.vault-door-circle {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.vault-door-pistons {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
}

.piston {
    position: absolute;
    background: rgb(185, 185, 185);
    width: 100%;
    height: 8%;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.7s ease-out; /* Adjusted transition timing */
}

.piston2 {
    transform: translate(-50%, -50%) rotate(45deg);
}

.piston3 {
    transform: translate(-50%, -50%) rotate(90deg);
}

.piston4 {
    transform: translate(-50%, -50%) rotate(135deg);
}

.vault-door-handle {
    position: absolute;
    border: solid 23px rgb(214, 214, 214);
    width: 200px; /* Fixed width */
    height: 200px; /* Fixed height */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: transform 0.3s ease-in-out; /* Updated transition timing */
}

.handle-bar {
    position: absolute;
    background: rgb(214, 214, 214);
    height: 8%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bar1 {
    transform: translate(-50%, -50%) rotate(45deg);
}

.bar2 {
    transform: translate(-50%, -50%) rotate(135deg);
}

.turning .vault-door-handle {
    transform: translate(-50%, -50%) rotate(-180deg);
}

.turning .piston {
    width: 90%;
}

.opening {
    transform: perspective(1200px) rotateY(-105deg); /* Updated door opening animation */
}

.zoom-in {
    animation: zoomIn 1s forwards;
}

.zoom-out {
    animation: zoomOut 1s forwards;
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(3.5); /* Increased zoom level */
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(3.5);
    }
    100% {
        transform: scale(1);
    }
}

/* Timeline CSS */
.timeline-container {
    width: 100vw; /* Ensure it takes full viewport width */
    height: 100vh; /* Ensure it takes full viewport height */
    display: flex; /* Flexbox for alignment */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    flex-direction: column; /* Ensure column layout */
    background-color: transparent; /* Background color for timeline */
    margin-left: 15%;
}

.container {
    background: transparent; /* Match the background color of the page */
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 38px;
    color: #ffffff;
    font-style: italic;
    font-weight: 800;
    margin-bottom: 3%;
}

.timeline {
    width: 90%;
    height: 70%;
    box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.2);
    position: relative; /* Ensure it can be layered with z-index */
    z-index: 1; /* Lower than the .title */
}

.timeline .swiper-container {
    height: 70%;
    width: 100%;
    position: relative;
}

.timeline .swiper-wrapper {
    transition: 2s cubic-bezier(0.3, 0.2, 1.1) 0.01s;
}

.timeline .swiper-slide {
    position: relative;
    color: #3b3b3b;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}

.timeline .swiper-slide::after {
    content: "";
    position: absolute;
    z-index: 1;
    right: -115%;
    bottom: -10%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: -230px 0 150px 60vw rgba(0, 0, 0, 0.7);
    border-radius: 100%;
}

.timeline .swiper-slide-content {
    position: absolute;
    text-align: center;
    width: 80%;
    max-width: 310px;
    right: 50%;
    top: 13%;
    transform: translate(50%, 0);
    font-size: 12px;
    z-index: 2;
}

.timeline .swiper-slide .timeline-year {
    display: block;
    font-style: italic;
    font-size: 42px;
    margin-bottom: 50px;
    transform: translate3d(20px, 0, 0);
    color: #2e2e2e;
    font-weight: 300;
    opacity: 0;
    transition: 0.2s ease 0.4s;
    margin-left: 100px;
}

.timeline .swiper-slide .timeline-title {
    font-weight: 800;
    font-size: 34px;
    margin: 0 0 30px;
    opacity: 0;
    transform: translate3d(20px, 0, 0);
    transition: 0.2s ease 0.5s;
}

.timeline .swiper-slide .timeline-text {
    line-height: 1.5;
    opacity: 0;
    /*transform: translate3d(20px, 0, 0);*/
    transition: 0.2s ease 0.6s;
}

.timeline .swiper-slide .timeline-year,
.timeline .swiper-slide .timeline-title,
.timeline .swiper-slide .timeline-text {
    color: #ffffff; /* Ensure text is visible */
    opacity: 1; /* Ensure opacity is set to 1 */
    transform: translate3d(
        0,
        0,
        0
    ); /* Ensure text is in the correct position */
    transition: 0.4s ease 1.6s;
}

@media screen and (min-width: 768px) {
    .timeline .swiper-slide::after {
        right: -30%;
        bottom: -8%;
        width: 240px;
        height: 50%;
        box-shadow: -230px 0 150px 50vw rgba(0, 0, 0, 0.7);
    }

    .timeline .swiper-slide-content {
        right: 30%;
        top: 50%;
        transform: translateY(-50%);
        width: 310px;
        font-size: 11px;
        text-align: right;
    }

    .timeline .swiper-slide .timeline-year {
        margin-bottom: 0;
        font-size: 32px;
        text-align: right;
    }

    .timeline .swiper-slide .timeline-title {
        font-size: 46px;
        margin: 0;
    }

    .timeline .swiper-pagination {
        display: flex;
    }

    .timeline .swiper-button-prev {
        top: 15%;
        left: auto;
        right: 7%;
        transform: rotate(90deg) translate(0, 10px);
        &:hover {
            transform: rotate(90deg) translate(-3px, 10px);
        }
    }

    .timeline .swiper-button-next {
        top: auto;
        bottom: 15%;
        right: 7%;
        transform: rotate(90deg) translate(0, 10px);
        &:hover {
            transform: rotate(90deg) translate(3px, 10px);
        }
    }
}

@media screen and (min-width: 1024px) {
    .timeline .swiper-slide::after {
        right: -20%;
        bottom: -12%;
        width: 240px;
        height: 50%;
        box-shadow: -230px 0 150px 39vw rgba(0, 0, 0, 0.7);
    }

    .timeline .swiper-slide-content {
        right: 25%;
    }
}
