/* Vault Page CSS */

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
    align-items: right;
    flex: 1;
}

body {
    font-family: Arial, sans-serif;
    color: white;
}

.vault-content {
    display: block;
    justify-content: right;
    align-items: right;
    height: 100vh;
    padding-right: 5vw;
    padding-left: 20vw;
    width: 100vw;
    overflow-x: hidden;
}

.heading {
    font-size: 1.75vw;
    text-align: left;
}

.playlist-content {
    text-align: center;
    color: white;
    box-shadow: none; /* Remove box shadow */
    width: 100%;
}

.header {
    margin-top: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 0.15vw solid #ccc;
    width: 100%;
    padding-bottom: 1.75vw;
    margin-bottom: 1.75vw;
}

.header h1 {
    margin-top: 1vw;
    font-size: 4vw;
}

.button {
    border-radius: 0.35vw; /* Set a consistent roundness for all buttons */
    font-size: 1vw;
    padding: 0.7vw;
    cursor: pointer;
    border: none;
}

.button {
    border-radius: 0.35vw; /* Set a consistent roundness for all buttons */
    font-size: 1vw;
    padding: 0.7vw;
    cursor: pointer;
    border: none;
}

.view-button button {
    width: 12vw;
    height: 5vw;
    border-radius: 2vw;
    align-self: flex-start;
    font-size: 1.5vw;
    padding: 0.75vw;
}

.view-button button {
    background-color: #00d76a;
    color: white;
}

.view-button button:hover {
    background-color: #16a34a;
}

.list-container {
    width: 100%;
    text-align: center;
    margin-bottom: 8vw;
}

.playlists-list {
    margin-top: 1.5vw;
    padding: 0 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 1.75vw;
}

.playlist {
    text-align: center;
}

.playlist img {
    border-radius: 0.7vw;
    display: block;
    width: 10vw;
    height: 10vw;
}

.playlist-link {
    cursor: pointer;
    color: white;
    text-decoration: underline;
    font-size: 1.1vw;
}

.playlist-link:hover {
    color: #888888;
}

.timeline-container {
    width: 100%;
    text-align: center;
    margin-bottom: 8vw;
}

.playlist-title {
    cursor: pointer;
    margin-top: -0.9vw;
}

.playlist-title:hover {
    color: #888888;
}

.timeline-item {
    height: 15.25vw;
    border-bottom: 0.15vw solid #ccc;
    padding-bottom: 1.75vw;
    margin-bottom: 2vw;
}

.timeline-title {
    font-size: 2vw;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0.5vw;
    margin-left: 1vw;
}

.timeline-cover {
    margin-left: 2vw;
    text-align: center;
}

.timeline-cover img {
    border-radius: 0.7vw;
    display: block;
    width: 10vw;
    height: 10vw;
}

.tag {
    display: inline-block;
    background: #666;
    border-radius: 1vw;
    margin-left: 3vw;
    margin-bottom: 5.5vw;
}

.tag p {
    width: 10vw;
    font-size: 1.5vw;
}

.items {
    display: flex;
    height: 10vw;
}

.top-songs {
    margin-left: 15vw;
    margin-top: -3.6vw;
    display: block;
    text-align: left;
}

.track {
    width: 35vw;
    justify-content: left;
    margin-bottom: 0.25vw;
    font-size: 1.2vw;
}

.track-image {
    width: 2.5vw; /* Keep the track image small */
    height: 2.5vw; /* Ensure images are square */
    margin-right: 0.7vw; /* Add space between the image and title */
    vertical-align: middle; /* Align images vertically in the middle */
    border-radius: 0.2vw;
    margin-left: 0.5vw;
}
