/* Welcome.css */
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(to bottom, black, #333) !important;
    color: white;
}

.welcome-content {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    width: 100vw;
    overflow-x: hidden;
}

.welcome-logo {
    width: 13vw;
}

.welcome-title {
    margin-top: 2vw;
    font-size: 3vw;
    font-weight: bold;
}

.welcome-subtitle {
    margin-top: 1vw;
    font-size: 1.5vw;
}

.welcome-button {
    margin-top: 2vw;
    padding: 0.75vw 1.5vw;
    font-size: 1.5vw;
    font-weight: 600;
    background-color: #00d76a;
    border: 0.2vw solid #00d76a;
    border-radius: 9999vw;
    color: white;
    cursor: pointer;
}

.welcome-button:hover {
    background-color: #16a34a;
}

.welcome-section-title {
    margin-top: 3vw;
    font-size: 2vw;
    font-weight: semi-bold;
}

.welcome-text {
    margin-top: 1vw;
    margin-bottom: 5vw;
    font-size: 1vw;
    line-height: 1.5;
    width: 60vw;
    text-align: center;
}
