html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: "Public Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
    background: linear-gradient(to bottom, #494949, #101010) !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background: inherit;
}

.container {
    display: flex;
    flex: 1;
    width: 100%;
    background: inherit; /* Make sure the gradient background is inherited */
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: inherit; /* Ensure background is inherited */
    overflow: auto;
    box-sizing: border-box;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.read-the-docs {
    color: #888;
}
