html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: "Public Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
    background: linear-gradient(to bottom, #494949, #101010) !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background: inherit;
}

.container {
    display: flex;
    flex: 1;
    width: 100%;
    background: inherit; /* Make sure the gradient background is inherited */
}

.navbar {
    background-color: #333;
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto; /* Ensure the navbar scrolls if content overflows */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    width: 100%;
}

.navbar li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #282828;
}

.main-content {
    margin-left: 200px;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: inherit; /* Make sure the gradient background is inherited */
    overflow: auto;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}
