:root {
    font-family: "Public Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background: linear-gradient(
        to bottom,
        #494949,
        #101010
    ) !important; /* Ensure gradient is applied */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #ffffff;
    text-decoration: inherit;
}
a:hover {
    color: #5a5a5a;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column; /* Ensure flex direction is column for body */
    min-height: 100vh;
    background: inherit; /* Ensure body inherits the background */
}

#root {
    display: flex;
    flex-direction: column; /* Ensure root has column flex direction */
    min-height: 100vh;
    width: 100%;
    background: inherit; /* Ensure root inherits the background */
}

.container {
    display: flex;
    flex: 1;
    width: 100%;
    background: inherit; /* Ensure container inherits the background */
}

.main-content {
    flex-grow: 1;
    display: flex;
    justify-content: right;
    align-items: right;
    background: inherit; /* Ensure main-content inherits the background */
    overflow-x: hidden;
    overflow-y: hidden;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 1.2vw;
    border: 0.2vw solid transparent;
    padding: 1vw 1.2vw;
    font-size: 1.1vw;
    font-weight: 500;
    font-family: inherit;
    background-color: linear-gradient(to bottom, #494949, #101010) !important;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #2b2b2b;
}
button:focus,
button:focus-visible {
    outline: 0.5vw auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        background: linear-gradient(to bottom, #494949, #101010) !important;
        background-color: #ffffff;
    }
    a:hover {
        color: #5c5c5c;
    }
    button {
        background-color: #f9f9f9;
    }
}
